@import "tailwindcss";

:root {
  --lavender: #9067c6;
  --periwinkle: #8d86c9;
  --slate: #cac4ce;
  --midnight: #242038;
  --linen: #f7ece1;
}

@theme inline {
  --color-lavender: var(--lavender);
  --color-periwinkle: var(--periwinkle);
  --color-slate: var(--slate);
  --color-midnight: var(--midnight);
  --color-linen: var(--linen);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--midnight);
  background-color: var(--linen);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
